// Breakpoints
$mobile: 576px;
$tablet: 768px;
$large: 992px;

// Colors
$yellow: #ffb703;
$blue: #0093e5;
$black: #232323;
$white: #ffffff;
$grey: #a0a0a0;
$netural: #7a7a7a;

// Animation
$animation-effect: ease-in-out;
$animation-duration: 300ms;

// Font
$font-size: 16px;
$fontNunito: "Nunito", "Rubik", "Arial", sans-serif;
$fontRubik: "Rubik", "Nunito", "Arial", sans-serif;

// Container
$container: 1300px;
$container-offset: 15px;

// Header
$header-gap: 60px;
$nav-offset: 20px;
