// Rubik

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Light.ttf") format("TrueType");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Nunito

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Light.ttf") format("TrueType");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
