.button {
  padding: 10px 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;

  font-size: $font-size;
  font-family: $fontRubik;

  transition-property: background-color, color, border, opacity;
  transition-timing-function: $animation-effect;
  transition-duration: $animation-duration;

  border-radius: 5px;
  line-height: 19px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  border: 3px solid $yellow;

  cursor: pointer;
}

.button--outline {
  color: $black;
  &:hover {
    background-color: $yellow;
    color: $white;
  }
}

.button--fill {
  background-color: $yellow;
  color: $white;
  &:hover {
    // color: $black;
    // background-color: $white;
    opacity: 0.9;
  }
}
