.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media screen and (max-width: $sm) {
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-family: $fontRubik;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $black;
  }

  input {
    background: #f5f5f5;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    font-family: $fontRubik;
    font-size: 14px;
    padding: 20px 10px;
  }
}
