.faqs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;

  @media screen and (max-width: $lg) {
    gap: 80px;
  }

  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: $sm) {
    gap: 30px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (max-width: $sm) {
      gap: 30px;
    }

    &-item {
      color: #ffffff;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform $animation-duration $animation-effect;
      }
      &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;

        font-family: $fontNunito;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;

        @media screen and (max-width: $sm) {
          font-size: 18px;
        }
      }

      &__text {
        font-size: 16px;
        line-height: 1.5;

        height: 0;
        visibility: hidden;
        opacity: 0;

        transition-property: height, opacity, margin-top;
        transition-duration: $animation-duration;
        transition-timing-function: $animation-effect;
      }

      &.active {
        span {
          transform: rotate(135deg);
        }
        p {
          margin-top: 25px;
          visibility: visible;
          height: auto;
          opacity: 1;

          @media screen and (max-width: $sm) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
