.section-hero {
  background-color: $blue;
  position: relative;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;
  position: relative;


  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__links {
    display: flex;
    
  }

  &__title {
    font-family: $fontNunito;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    margin-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 60px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
